body {
    text-align: center;
    background: rgb(2, 0, 36);
}

img {
    border-radius: 50px;
    width: 300px;
}

#about {
    background: rgb(36, 0, 10);
    background: linear-gradient(90deg, rgba(36, 0, 10, 1) 0%, rgba(130, 18, 41, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

#bio {
    background: rgb(2, 0, 36);
    background: linear-gradient(120deg, rgba(2, 0, 36, 1) 2%, rgba(19, 78, 19, 1) 9%, rgba(95, 15, 42, 1) 18%, rgba(28, 121, 9, 1) 27%, rgba(0, 212, 255, 1) 37%, rgba(0, 112, 255, 0.7570378493194152) 44%, rgba(0, 27, 255, 1) 50%, rgba(255, 29, 0, 1) 59%, rgba(27, 255, 0, 1) 70%, rgba(0, 254, 255, 1) 81%, rgba(255, 0, 250, 1) 92%);

}
